<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/main.css">

    <title>the pond</title>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
